<h3>Add Student</h3>

<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Student Added.
  <button (click)="closeMe()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form [formGroup]="addStudent" (ngSubmit)="saveData()">
  <div class="mb-3">
    <label for="exampleInputEmail1" >Name</label>
    <input type="text" class="form-control" placeholder="Enter Password" formControlName="name">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
